table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
  }

  th{
    background-color:rgb(39, 39, 39);
    color: white;
}

  
input{
     
    width: 88%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin:  10px auto 20px;
   
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 27%;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .flex{
    display: flex;
    margin-left: 5%;
  }

  .select{
    margin-top: 25px;
    width: 150px;
    height: 35px;
    background-color: #007bff;
    border: 2px solid #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;

  }
 
